@import url('http://fonts.cdnfonts.com/css/nrt-reg');
/* font-family: 'NRT Reg', sans-serif; */
                                                
@import url("http://fonts.cdnfonts.com/css/league-mono");
/* font-family: 'League Mono', sans-serif; */
@import url('http://fonts.cdnfonts.com/css/gelion');
/* font-family: 'Gelion', sans-serif; */
                                                
                

body {
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #414345,
    #232526
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #414345,
    #232526
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1{
     font-family: 'Gelion', sans-serif;
    font-weight: bolder;
    font-size: 100px !important;
}

h1 span{
     font-family: 'Gelion', sans-serif;
    font-weight: lighter;
    font-size: 100px !important;
}

#subheader{
    color: #65696c;
    font-size: 30px;
    font-family: 'League Mono', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px 20px;
}

.item {
  display: flex;
  text-align: justify;
  flex-direction: row;
  justify-content: space-between;
  width: 800px;
  height: 60px;
  align-items:center;
  transition: all 0.1s;
  color: white;
  border-radius: 5px 5px;
  padding-left: 1%;
  padding-right: 1%;
  color: rgb(197, 191, 191);
}

.item span{
  color: rgb(217, 210, 210);
  text-align: justify;
}

.item:hover {
  background-color: #414345c0;
}

.filters{
  color: rgba(163, 159, 159, 0.938);
  font-size: 15px !important;
  font-family: 'NRT Reg', sans-serif;
  display: flex;
  flex-direction: row !important;
  justify-content: space-evenly;
  width: fit-content;

}

.container h6 {
  border-bottom: rgba(119, 114, 114, 0.703) 1px solid;
  margin: 0;
  color: white;
  text-align: justify;
  width: 800px;
}

i{
    color: white;
    font-weight: lighter;
    
}

#container1{
  height: 37px;
  width: fit-content;
  background-color: #2d2e2e;
  border: 1px solid white;
  display:flex;
  justify-content: center;
  align-items: center;
}

button{
  height: 34px;
  margin:0;
  background-color: #2d2e2e;
  border: none;
  color:white;
  font-weight: 100;
  padding-left: 10px;
  padding-right: 10px;
}
input{
  border: none;
    background-color: #2d2e2e;
    width: 300px;
    height: 35px;
  margin:0;
  padding-left:10px;
  color: white;

  
}

textarea:focus, input:focus{
    outline: none;
}

.checked{
    
    background: #6f7173;
}

.checked span{
  text-decoration: line-through;
}

.checked:hover{
  background: #6f7173;
}


.filters i{
  color: #ffffff9b;
}

.bi-clock{
  font-size: 13px;
  font-weight: bold;
}